/* Gruvbox Theme - based upon the Writefreely theme at  https://lowkey.party/nigel/theming-writefreely */

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700&display=swap');

:root {
	--bg: #252423;
	--bg2: #3C3836;
	--red: #EC5547;
	--green: #83C572;
	--yellow: #F9E79C;
	--blue: #79AF9A;
	--pink: #D3869B;
	--pink2:#844E5D;
	--aqua: #689D6A;
	--orange: #ED8948;
	--orange2: #E9B143;
	--grey: #767676;
}

body { background: var(--bg); color: var(--yellow); font-family: 'Karla', sans-serif !important; font-weight:400; max-width: 48em; margin: auto; line-height: 1.5; padding: 0.8em; word-wrap: break-word; }
pre { overflow-x: scroll; }
textarea {background:var(--bg2); color:var(--yellow); border:none; border-radius:4px; padding:0.5em;}
input { background:var(--bg2); color:var(--yellow); border:solid 1px var(--blue); border-radius: 4px; }
input[type=file] { background: var(--bg)}
input[type=submit] { background: none; border: none; color: var(--green);}
.snac-embedded-video, img { max-width: 100%; border-radius: 6px; }
.snac-origin { font-size: 85% }
.snac-score { float: right; font-size: 85% }
.snac-top-user { text-align: center; padding-bottom: 2em }
.snac-top-user-name { font-size: 200%; color: var(--orange2); font-weight:700; }
.snac-top-user-id { font-size: 150%; color: var(--red); }
.snac-top-nav {text-decoration: none;}
.snac-avatar { float: left; height: 2.5em; padding: 0.25em }
.snac-search-box {background: color: var(--bg2);}
.snac-author { color: var(--blue)!important; font-weight:700; text-decoration: none; }
.snac-author-tag { color: var(--red)!important; font-size: 80% }
.snac-pubdate { color: var(--green); font-size: 80% }
.snac-top-controls { padding-bottom: 1.5em }
.snac-post { border-top: 1px solid var(--grey); }
.snac-children { padding-left: 1em; border-left: 1px solid var(--grey); }
.snac-textarea { font-family: inherit; width: 98%; color: var(--yellow); background:var(--bg2); padding: 0.5em; border-radius: 4px; border: 0px; }
.snac-property-value{ color: var(--green); }

.snac-controls { transition: 0.5s ease-in-out; visibility: hidden; max-height: 0; }
.snac-post:hover .snac-controls, .snac-child:hover .snac-controls { display: block; padding-top: 5pt; }

.snac-btn-pin, .snac-btn-like, .snac-btn-boost, .snac-btn-bookmark { padding-top: 1em;  border: none; background-color: var(--bg); color: var(--green);cursor: pointer; }
.snac-btn-unpin, .snac-btn-unlike, .snac-btn-unboost, .snac-btn-unbookmark { padding-top: 1em;  border: none; background-color: var(--bg); color: var(--aqua)!important;cursor: pointer; }
.snac-btn-mute, .snac-btn-follow, .snac-btn-hide, .snac-btn-delete, .snac-btn-limit { padding-top: 1em; float: right; margin-left: 0.5em; border: none; background-color: var(--bg); color: var(--green); cursor: pointer; }
.snac-btn-unmute, .snac-btn-unfollow, .snac-btn-unlimit { padding-top: 1em; float: right; margin-left: 0.5em; border: none; background-color: var(--bg); color: var(--aqua)!important; cursor: pointer; }

.snac-footer { margin-top: 2em; font-size: 75% }
.snac-poll-result { margin-left: auto; margin-right: auto; }

.mention.hashtag {color:var(--pink); }
.mention.hashtag:visited {color:var(--pink); }
.mention.hashtag:hover {color:var(--pink2); }
.verified.link { color: var(--green); }

a { color: var(--orange); text-decoration: none; }
a:visited { color: var(--orange); text-decoration: none; }
a:hover { color: var(--orange2); text-decoration: none; }
code {font-size:85%; border-radius: 4px; background: var(--bg2); color: var(--green):important; }
blockquote {border-radius: 6px; padding: 4px; background: var(--bg2); }